# Set up notification options
notifications:
  email:
    recipients:
      - zhenxi.mi@gmail.com

    # change is when the repo status goes from pass to fail or vice versa
    on_success: change
    on_failure: always

# specify language
language: node_js

# specify language options
node_js:
- 'node'

script:
— echo “Deploy!!”
install:
— npm install -g firebase-tools
after_success:
- yarn build
— firebase deploy — project projectId — token $FIREBASE_TOKEN.
