language: node_js
node_js:
  - "iojs"
  - "7"
script:
 — echo “Deploy!!”
install:
 — npm install -g firebase-tools
after_success:
 — firebase deploy — project my-portfolio-1514c — token $FIREBASE_TOKEN
